{% extends "tngl/base.html" %}

{% block content %}
<div class="col-6">
    <h3>MoonLamps</h3>
    {% if devices.moonlamps %}
        <div class="list-group">
        {% for moonlamp in devices.moonlamps %}
           <a href="{% url 'tngl:moonlampdetail' moonlamp.device_id %}" class="list-group-item list-group-item-action">
            {{ moonlamp.name }} : {{ moonlamp.device_id }}</a>
        {% endfor %}
        </div>
    {% else %}
        <p>No Lamp Devices are available.</p>
    {% endif %}

    <br>
</div>
{% endblock %}

{% block page_event %}Device List{% endblock %}